/************************** TAG SELECTORS **************************/

body {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0 0;
}

hr { border: dotted coral 6px;
    border-bottom: none;
    margin: 30px auto;

}

p {
    line-height: 0px;
}


/************************** CLASS SELECTORS **************************/
.container {
    padding: 0px 0px;
    
}
.cont1 {
    background-color: #161a33;
}
.cont2 {
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cont3 {
    background-color: #161a33;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #d1ba84;
 }

.cont4 {
    background-color: #161a33;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
    color: #d1ba84;
}
.caroseu {
    padding: 80px 0px;
}
.baixo {
    text-align: center;
    font-size: smaller;
    padding-top: 30px;
    padding-bottom: 20px;
}

.navbar-nav {
    text-align: center;
         
}

@media (max-width:900px) {
    .nav-item {
        padding: 18px;
        font-size: 4.1rem;
    }
    
}
.nav-item {
    padding: 18px;
    font-size: 1.1rem;
}
/************************** ID SELECTORS **************************/

#cont1d {
            text-align: left;
            padding: 0px 0px;
            width: 100%;
         
}    

#cont1k {
            text-align: right;
            padding: 0px 0px;
            width: 100%;
}


#logotk {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

#logotd {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 70px ;
}

#carouselcont4 {
    padding-top: 20px ;
    padding-bottom: 20px;
}
#textocons {
     text-align: justify;
     padding-right: 20px;
     padding-left: 20px;
}